* {
    margin: 0;
    padding: 0;
}

body {
    --bgColor: black;
    --loaderColor: linear-gradient(45deg, transparent, transparent 40%, gold);

    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.loader {
    --size: 200px;
    background: var(--loaderColor);
    width: var(--size);
    height: var(--size);;
    position: relative;
    border-radius: 50%;
    animation: turning 2s linear infinite;
}

@keyframes turning {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg)

    }
    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg)
    }
}

.loader:before {
    --value: 3%;

    content: '';
    position: absolute;
    left: var(--value);
    right: var(--value);
    top: var(--value);
    bottom: var(--value);
    background-color: black;
    border-radius: 50%;
    z-index: 2;
}

.loader:after {
    --value: 0%;

    content: '';
    position: absolute;
    left: var(--value);
    right: var(--value);
    top: var(--value);
    bottom: var(--value);
    background: var(--loaderColor);
    border-radius: 50%;
    filter: blur(30px);
    z-index: 1;
}